Fabric_Workspace/Ingest Tables.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "Insert Ingest Instance - RUNNING",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "Set RunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "storedProcedureName": "[ELT].[InsertIngestInstance]",
          "database": "controlDB",
          "storedProcedureParameters": {
            "ADFPipelineRunID": {
              "value": {
                "value": "@variables('RunID')",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "DestinationRawFile": {
              "value": {
                "value": "@pipeline().parameters.DestinationRawFile",
                "type": "Expression"
              },
              "type": "String"
            },
            "DestinationRawFileSystem": {
              "value": {
                "value": "@pipeline().parameters.DestinationRawFileSystem",
                "type": "Expression"
              },
              "type": "String"
            },
            "DestinationRawFolder": {
              "value": {
                "value": "@pipeline().parameters.DestinationRawFolder",
                "type": "Expression"
              },
              "type": "String"
            },
            "IngestID": {
              "value": {
                "value": "@pipeline().parameters.IngestID",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "ReloadFlag": {
              "value": {
                "value": "@pipeline().parameters.ReloadFlag",
                "type": "Expression"
              },
              "type": "Boolean"
            }
          }
        },
        "linkedService": {
          "name": "329fa80e_2398_4aed_be43_bb2a62e9256c",
          "properties": {
            "annotations": [],
            "type": "DataWarehouse",
            "typeProperties": {
              "endpoint": "@pipeline().parameters.WH_Control_Conn_String",
              "artifactId": "@pipeline().parameters.WH_Control_Name",
              "workspaceId": "@pipeline().parameters.BronzeWorkspaceID"
            }
          }
        }
      },
      {
        "name": "Set RunID",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Wait1",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "variableName": "RunID",
          "value": {
            "value": "@pipeline().RunId",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Copy Source to Lakehouse",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "Insert Ingest Instance - RUNNING",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "@pipeline().parameters.SourceSQL",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None",
            "datasetSettings": {
              "annotations": [],
              "type": "SqlServerTable",
              "schema": [],
              "typeProperties": {
                "database": {
                  "value": "@pipeline().parameters.Source_Database_Name",
                  "type": "Expression"
                }
              },
              "externalReferences": {
                "connection": "@pipeline().parameters.Source_Connection_ID"
              }
            }
          },
          "sink": {
            "type": "ParquetSink",
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "datasetSettings": {
              "annotations": [],
              "linkedService": {
                "name": "84da5653_bc83_445d_8f44_e1371107aad4",
                "properties": {
                  "annotations": [],
                  "type": "Lakehouse",
                  "typeProperties": {
                    "workspaceId": "@pipeline().parameters.BronzeWorkspaceID",
                    "artifactId": "@pipeline().parameters.BronzeObjectID",
                    "rootFolder": "Files"
                  }
                }
              },
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "fileName": {
                    "value": "@pipeline().parameters.DestinationRawFile",
                    "type": "Expression"
                  },
                  "folderPath": {
                    "value": "@pipeline().parameters.DestinationRawFolder",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": []
            }
          },
          "enableStaging": false,
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        }
      },
      {
        "name": "Get High Watermark",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "Insert Ingest Instance - RUNNING",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "@pipeline().parameters.StatSQL",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "datasetSettings": {
            "annotations": [],
            "type": "SqlServerTable",
            "schema": [],
            "typeProperties": {
              "database": {
                "value": "@pipeline().parameters.Source_Database_Name",
                "type": "Expression"
              }
            },
            "externalReferences": {
              "connection": "@pipeline().parameters.Source_Connection_ID"
            }
          }
        }
      },
      {
        "name": "Update Ingest Instance - SUCCESS",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "Update High Watermark",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "storedProcedureName": "[ELT].[UpdateIngestInstance]",
          "database": "controlDB",
          "storedProcedureParameters": {
            "ADFIngestPipelineRunID": {
              "value": {
                "value": "@variables('RunID')",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "DataFromTimestamp": {
              "value": {
                "value": "@pipeline().parameters.DataFromTimestamp",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "DataToTimestamp": {
              "value": {
                "value": "@activity('Get High Watermark').output.firstRow.DataToTimestamp",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "IngestCount": {
              "value": {
                "value": "@activity('Copy Source to Lakehouse').output.rowsCopied",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "IngestStatus": {
              "value": "Success",
              "type": "String"
            },
            "ReloadFlag": {
              "value": {
                "value": "@pipeline().parameters.ReloadFlag",
                "type": "Expression"
              },
              "type": "Boolean"
            },
            "SourceCount": {
              "value": {
                "value": "@activity('Copy Source to Lakehouse').output.rowsRead",
                "type": "Expression"
              },
              "type": "Int32"
            }
          }
        },
        "linkedService": {
          "name": "48f848f7_91fa_44e2_8de9_1782bc7cdc3e",
          "properties": {
            "annotations": [],
            "type": "DataWarehouse",
            "typeProperties": {
              "endpoint": "@pipeline().parameters.WH_Control_Conn_String",
              "artifactId": "@pipeline().parameters.WH_Control_Name",
              "workspaceId": "@pipeline().parameters.BronzeWorkspaceID"
            }
          }
        }
      },
      {
        "name": "Update Ingest Instance - FAILURE",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "Copy Source to Lakehouse",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "storedProcedureName": "[ELT].[UpdateIngestInstance]",
          "database": "controlDB",
          "storedProcedureParameters": {
            "ADFIngestPipelineRunID": {
              "value": {
                "value": "@variables('RunID')",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "IngestStatus": {
              "value": "Failure",
              "type": "String"
            },
            "ReloadFlag": {
              "value": {
                "value": "@pipeline().parameters.ReloadFlag",
                "type": "Expression"
              },
              "type": "Boolean"
            }
          }
        },
        "linkedService": {
          "name": "4c30be0e_8fa9_4aa5_b09d_053b2ccbfb99",
          "properties": {
            "annotations": [],
            "type": "DataWarehouse",
            "typeProperties": {
              "endpoint": "@pipeline().parameters.WH_Control_Conn_String",
              "artifactId": "@pipeline().parameters.WH_Control_Name",
              "workspaceId": "@pipeline().parameters.BronzeWorkspaceID"
            }
          }
        }
      },
      {
        "name": "Get Level 1 Transform Config",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "Get High Watermark",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Copy Source to Lakehouse",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderStoredProcedureName": "[ELT].[GetTransformDefinition_L1]",
            "storedProcedureParameters": {
              "IngestID": {
                "type": "Int32",
                "value": {
                  "value": "@pipeline().parameters.IngestID",
                  "type": "Expression"
                }
              }
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "firstRowOnly": false,
          "datasetSettings": {
            "annotations": [],
            "linkedService": {
              "name": "b2d72274_c015_463d_b206_699df8cf2910",
              "properties": {
                "annotations": [],
                "type": "DataWarehouse",
                "typeProperties": {
                  "endpoint": "@pipeline().parameters.WH_Control_Conn_String",
                  "artifactId": "@pipeline().parameters.WH_Control_Name",
                  "workspaceId": "@pipeline().parameters.BronzeWorkspaceID"
                }
              }
            },
            "type": "DataWarehouseTable",
            "schema": [],
            "typeProperties": {}
          }
        }
      },
      {
        "name": "ForEach Level 1 Config",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "Get Level 1 Transform Config",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('Get Level 1 Transform Config').output.value",
            "type": "Expression"
          },
          "isSequential": true,
          "activities": [
            {
              "name": "Instantiate Level 1 Transform",
              "type": "SqlServerStoredProcedure",
              "dependsOn": [],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 4,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "storedProcedureName": "[ELT].[InsertTransformInstance_L1]",
                "database": "controlDB",
                "storedProcedureParameters": {
                  "CustomParameters": {
                    "value": {
                      "value": "@item().CustomParameters",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "IngestADFPipelineRunID": {
                    "value": {
                      "value": "@variables('RunID')",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "IngestCount": {
                    "value": {
                      "value": "@activity('Copy Source to Lakehouse').output.rowsCopied",
                      "type": "Expression"
                    },
                    "type": "Int32"
                  },
                  "IngestID": {
                    "value": {
                      "value": "@item().IngestID",
                      "type": "Expression"
                    },
                    "type": "Int32"
                  },
                  "InputFileHeaderFlag": {
                    "value": {
                      "value": "@item().InputFileHeaderFlag",
                      "type": "Expression"
                    },
                    "type": "Boolean"
                  },
                  "InputRawFile": {
                    "value": {
                      "value": "@pipeline().parameters.DestinationRawFile",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "InputRawFileDelimiter": {
                    "value": {
                      "value": "@item().InputRawFileDelimiter",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "InputRawFileFolder": {
                    "value": {
                      "value": "@pipeline().parameters.DestinationRawFolder",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "InputRawFileSystem": {
                    "value": {
                      "value": "@pipeline().parameters.DestinationRawFileSystem",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "L1TransformID": {
                    "value": {
                      "value": "@item().L1TransformID",
                      "type": "Expression"
                    },
                    "type": "Int32"
                  },
                  "LookupColumns": {
                    "value": {
                      "value": "@item().LookupColumns",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "ComputeName": {
                    "value": {
                      "value": "@item().ComputeName",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "ComputePath": {
                    "value": {
                      "value": "@item().ComputePath",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "OutputDWStagingTable": {
                    "value": {
                      "value": "@item().OutputDWStagingTable",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "OutputDWTable": {
                    "value": {
                      "value": "@item().OutputDWTable",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "OutputDWTableWriteMode": {
                    "value": {
                      "value": "@item().OutputDWTableWriteMode",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "OutputL1CuratedFile": {
                    "value": {
                      "value": "@item().OutputL1CuratedFile",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "OutputL1CuratedFileDelimiter": {
                    "value": {
                      "value": "@item().OutputL1CuratedFileDelimiter",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "OutputL1CuratedFileFormat": {
                    "value": {
                      "value": "@item().OutputL1CuratedFileFormat",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "OutputL1CuratedFileWriteMode": {
                    "value": {
                      "value": "@item().OutputL1CuratedFileWriteMode",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "OutputL1CuratedFolder": {
                    "value": {
                      "value": "@item().OutputL1CuratedFolder",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "OutputL1CurateFileSystem": {
                    "value": {
                      "value": "@item().OutputL1CurateFileSystem",
                      "type": "Expression"
                    },
                    "type": "String"
                  }
                }
              },
              "linkedService": {
                "name": "614ac7b2_860c_4ddb_a126_9bcc0e0fe8ee",
                "properties": {
                  "annotations": [],
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "endpoint": "@pipeline().parameters.WH_Control_Conn_String",
                    "artifactId": "@pipeline().parameters.WH_Control_Name",
                    "workspaceId": "@pipeline().parameters.BronzeWorkspaceID"
                  }
                }
              }
            }
          ]
        }
      },
      {
        "name": "Update High Watermark",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "ForEach Level 1 Config",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "storedProcedureName": "[ELT].[UpdateIngestDefinition]",
          "database": "controlDB",
          "storedProcedureParameters": {
            "IngestID": {
              "value": {
                "value": "@pipeline().parameters.IngestID",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "IngestStatus": {
              "value": "Success",
              "type": "String"
            },
            "LastDeltaDate": {
              "value": {
                "value": "@activity('Get High Watermark').output.firstRow.DataToTimestamp",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "ReloadFlag": {
              "value": {
                "value": "@pipeline().parameters.ReloadFlag",
                "type": "Expression"
              },
              "type": "Boolean"
            }
          }
        },
        "linkedService": {
          "name": "fb74f856_e6cd_4423_b2ba_354991d4722f",
          "properties": {
            "annotations": [],
            "type": "DataWarehouse",
            "typeProperties": {
              "endpoint": "@pipeline().parameters.WH_Control_Conn_String",
              "artifactId": "@pipeline().parameters.WH_Control_Name",
              "workspaceId": "@pipeline().parameters.BronzeWorkspaceID"
            }
          }
        }
      },
      {
        "name": "Wait1",
        "type": "Wait",
        "dependsOn": [],
        "typeProperties": {
          "waitTimeInSeconds": {
            "value": "@rand(0,8)",
            "type": "Expression"
          }
        }
      }
    ],
    "parameters": {
      "IngestID": {
        "type": "int",
        "defaultValue": 1
      },
      "SourceSystemName": {
        "type": "string",
        "defaultValue": "Tech_One"
      },
      "StreamName": {
        "type": "string",
        "defaultValue": "TABLE_NAME"
      },
      "EntityName": {
        "type": "string",
        "defaultValue": "dbo.TABLE_NAME"
      },
      "WatermarkColName": {
        "type": "string"
      },
      "LastDeltaDate": {
        "type": "string",
        "defaultValue": "2025-03-12T15:04:11Z"
      },
      "DataFromTimestamp": {
        "type": "string",
        "defaultValue": "2025-03-12T15:04:11Z"
      },
      "DataToTimestamp": {
        "type": "string",
        "defaultValue": "2025-03-12T16:51:56Z"
      },
      "LastDeltaNumber": {
        "type": "int",
        "defaultValue": 0
      },
      "DataFromNumber": {
        "type": "int",
        "defaultValue": 0
      },
      "DataToNumber": {
        "type": "int",
        "defaultValue": 0
      },
      "DataFormat": {
        "type": "string"
      },
      "SourceStructure": {
        "type": "string"
      },
      "MaxIntervalMinutes": {
        "type": "int",
        "defaultValue": 1440
      },
      "MaxIntervalNumber": {
        "type": "int",
        "defaultValue": 0
      },
      "DataMapping": {
        "type": "string"
      },
      "RunSequence": {
        "type": "int",
        "defaultValue": 100
      },
      "ActiveFlag": {
        "type": "bool",
        "defaultValue": true
      },
      "L1TransformationReqdFlag": {
        "type": "bool",
        "defaultValue": true
      },
      "L2TransformationReqdFlag": {
        "type": "bool",
        "defaultValue": true
      },
      "DelayL1TransformationFlag": {
        "type": "bool",
        "defaultValue": false
      },
      "DelayL2TransformationFlag": {
        "type": "bool",
        "defaultValue": true
      },
      "DestinationRawFileSystem": {
        "type": "string",
        "defaultValue": "Files"
      },
      "DestinationRawFolder": {
        "type": "string",
        "defaultValue": "raw_bronze/SOURCE_SYSTEM/dbo/TABLE_NAME/2025-03"
      },
      "DestinationRawFile": {
        "type": "string",
        "defaultValue": "dbo_TABLE_NAME_2025-03-12_150411.parquet"
      },
      "SourceSQL": {
        "type": "string",
        "defaultValue": "SELECT * FROM dbo.TABLE_NAME"
      },
      "StatSQL": {
        "type": "string",
        "defaultValue": "SELECT '1900-01-01 00:00:00' AS DataFromTimestamp, '2025-03-12 16:52:00' AS DataToTimestamp,  COUNT(*) AS SourceCount FROM dbo.TABLE_NAME"
      },
      "ReloadFlag": {
        "type": "bool",
        "defaultValue": false
      },
      "ADFPipelineRunID": {
        "type": "string",
        "defaultValue": "TEST"
      },
      "BronzeObjectID": {
        "type": "string",
        "defaultValue": "6c764493-CHANGE-ME-961e-fe14afd70ea9"
      },
      "BronzeWorkspaceID": {
        "type": "string",
        "defaultValue": "2ddd239d-CHANGE-ME-bac0-fb71ecffdacb"
      },
      "WH_Control_Name": {
        "type": "string",
        "defaultValue": "WH_Control"
      },
      "WH_Control_Conn_String": {
        "type": "string",
        "defaultValue": "7cvmxCHANGE_MElttzwapovooe-tur52lnkkukeCHANGE_ME62zm.datawarehouse.fabric.microsoft.com"
      },
      "Source_Connection_ID": {
        "type": "string"
      },
      "Source_Database_Name": {
        "type": "string",
        "defaultValue": "DATABASE_NAME"
      }
    },
    "variables": {
      "RunID": {
        "type": "String"
      }
    }
  }
}