Fabric_Workspace/Level1 Trans.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "Set RunID",
        "type": "SetVariable",
        "dependsOn": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "variableName": "RunID",
          "value": {
            "value": "@pipeline().RunId",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Level1 Transform RUNNING",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "Set RunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "storedProcedureName": "[ELT].[UpdateTransformInstance_L1]",
          "database": "controlDB",
          "storedProcedureParameters": {
            "L1TransformADFPipelineRunID": {
              "value": {
                "value": "@variables('RunID')",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "L1TransformInstanceId": {
              "value": {
                "value": "@pipeline().parameters.L1TransformInstanceID",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "L1TransformStatus": {
              "value": "Running",
              "type": "String"
            },
            "MaxRetries": {
              "value": {
                "value": "@pipeline().parameters.MaxRetries",
                "type": "Expression"
              },
              "type": "Int32"
            }
          }
        },
        "linkedService": {
          "name": "eadfa772_967d_4c7d_8642_601200995573",
          "properties": {
            "annotations": [],
            "type": "DataWarehouse",
            "typeProperties": {
              "endpoint": "@pipeline().parameters.WH_Conrol_Conn_String",
              "artifactId": "@pipeline().parameters.WH_Conrol_Name",
              "workspaceId": "@pipeline().parameters.BronzeWorkspaceID"
            }
          }
        }
      },
      {
        "name": "Level 1 Transform Notebook",
        "type": "TridentNotebook",
        "dependsOn": [
          {
            "activity": "Level1 Transform RUNNING",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "notebookId": {
            "value": "@pipeline().parameters.ComputeName",
            "type": "Expression"
          },
          "workspaceId": {
            "value": "@pipeline().parameters.BronzeWorkspaceID",
            "type": "Expression"
          },
          "parameters": {
            "L1TransformInstanceID": {
              "value": {
                "value": "@pipeline().parameters.L1TransformInstanceID",
                "type": "Expression"
              },
              "type": "int"
            },
            "L1TransformID": {
              "value": {
                "value": "@pipeline().parameters.L1TransformID",
                "type": "Expression"
              },
              "type": "int"
            },
            "IngestID": {
              "value": {
                "value": "@pipeline().parameters.IngestID",
                "type": "Expression"
              },
              "type": "int"
            },
            "CustomParameters": {
              "value": {
                "value": "@pipeline().parameters.CustomParameters",
                "type": "Expression"
              },
              "type": "string"
            },
            "InputRawFileSystem": {
              "value": {
                "value": "@pipeline().parameters.InputRawFileSystem",
                "type": "Expression"
              },
              "type": "string"
            },
            "InputRawFileFolder": {
              "value": {
                "value": "@pipeline().parameters.InputRawFileFolder",
                "type": "Expression"
              },
              "type": "string"
            },
            "InputRawFile": {
              "value": {
                "value": "@pipeline().parameters.InputRawFile",
                "type": "Expression"
              },
              "type": "string"
            },
            "InputRawFileDelimiter": {
              "value": {
                "value": "@pipeline().parameters.InputRawFileDelimiter",
                "type": "Expression"
              },
              "type": "string"
            },
            "InputFileHeaderFlag": {
              "value": {
                "value": "@pipeline().parameters.InputFileHeaderFlag",
                "type": "Expression"
              },
              "type": "bool"
            },
            "OutputL1CurateFileSystem": {
              "value": {
                "value": "@pipeline().parameters.OutputL1CurateFileSystem",
                "type": "Expression"
              },
              "type": "string"
            },
            "OutputL1CuratedFolder": {
              "value": {
                "value": "@pipeline().parameters.OutputL1CuratedFolder",
                "type": "Expression"
              },
              "type": "string"
            },
            "OutputL1CuratedFile": {
              "value": {
                "value": "@pipeline().parameters.OutputL1CuratedFile",
                "type": "Expression"
              },
              "type": "string"
            },
            "OutputL1CuratedFileDelimiter": {
              "value": {
                "value": "@pipeline().parameters.OutputL1CuratedFileDelimiter",
                "type": "Expression"
              },
              "type": "string"
            },
            "OutputL1CuratedFileFormat": {
              "value": {
                "value": "@pipeline().parameters.OutputL1CuratedFileFormat",
                "type": "Expression"
              },
              "type": "string"
            },
            "OutputL1CuratedFileWriteMode": {
              "value": {
                "value": "@pipeline().parameters.OutputL1CuratedFileWriteMode",
                "type": "Expression"
              },
              "type": "string"
            },
            "OutputDWStagingTable": {
              "value": {
                "value": "@pipeline().parameters.OutputDWStagingTable",
                "type": "Expression"
              },
              "type": "string"
            },
            "LookupColumns": {
              "value": {
                "value": "@pipeline().parameters.LookupColumns",
                "type": "Expression"
              },
              "type": "string"
            },
            "OutputDWTable": {
              "value": {
                "value": "@pipeline().parameters.OutputDWTable",
                "type": "Expression"
              },
              "type": "string"
            },
            "OutputDWTableWriteMode": {
              "value": {
                "value": "@pipeline().parameters.OutputDWTableWriteMode",
                "type": "Expression"
              },
              "type": "string"
            },
            "ReRunL1TransformFlag": {
              "value": {
                "value": "@pipeline().parameters.ReRunL1TransformFlag",
                "type": "Expression"
              },
              "type": "bool"
            },
            "DeltaName": {
              "value": {
                "value": "@pipeline().parameters.WatermarkColName",
                "type": "Expression"
              },
              "type": "string"
            }
          },
          "sessionTag": {
            "value": "@replace(replace(pipeline().parameters.ComputeName,'-','_'),' ','')",
            "type": "Expression"
          },
          "capacityId": "e4eb626a-4082-4143-983d-6fc9284b74cd"
        }
      },
      {
        "name": "Level 1 Transform SUCCESS",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "Level 1 Transform FAILURE",
            "dependencyConditions": [
              "Skipped",
              "Completed"
            ]
          },
          {
            "activity": "Set numTargetRowsInserted",
            "dependencyConditions": [
              "Completed",
              "Skipped"
            ]
          },
          {
            "activity": "Set numTargetRowsDeleted",
            "dependencyConditions": [
              "Completed",
              "Skipped"
            ]
          },
          {
            "activity": "Set numTargetRowsUpdated",
            "dependencyConditions": [
              "Completed",
              "Skipped"
            ]
          },
          {
            "activity": "Set numSourceRows",
            "dependencyConditions": [
              "Completed",
              "Skipped"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "storedProcedureName": "[ELT].[UpdateTransformInstance_L1]",
          "database": "controlDB",
          "storedProcedureParameters": {
            "IngestCount": {
              "value": {
                "value": "@variables('numSourceRows')",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "L1TransformADFPipelineRunID": {
              "value": {
                "value": "@variables('RunID')",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "L1TransformInsertCount": {
              "value": {
                "value": "@variables('numTargetRowsInserted')",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "L1TransformInstanceId": {
              "value": {
                "value": "@pipeline().parameters.L1TransformInstanceID",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "L1TransformStatus": {
              "value": "Success",
              "type": "String"
            },
            "MaxRetries": {
              "value": {
                "value": "@pipeline().parameters.MaxRetries",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "L1TransformUpdateCount": {
              "value": {
                "value": "@variables('numTargetRowsUpdated')",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "L1TransformDeleteCount": {
              "value": {
                "value": "@variables('numTargetRowsDeleted')",
                "type": "Expression"
              },
              "type": "Int32"
            }
          }
        },
        "linkedService": {
          "name": "8de91aad_789c_4f30_88db_49641a88c793",
          "properties": {
            "annotations": [],
            "type": "DataWarehouse",
            "typeProperties": {
              "endpoint": "@pipeline().parameters.WH_Conrol_Conn_String",
              "artifactId": "@pipeline().parameters.WH_Conrol_Name",
              "workspaceId": "@pipeline().parameters.BronzeWorkspaceID"
            }
          }
        }
      },
      {
        "name": "Set numTargetRowsInserted",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Level 1 Transform Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "variableName": "numTargetRowsInserted",
          "value": {
            "value": "@string(json(activity('Level 1 Transform Notebook').output.result.exitValue).numTargetRowsInserted)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set numSourceRows",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Level 1 Transform Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "variableName": "numSourceRows",
          "value": {
            "value": "@string(json(activity('Level 1 Transform Notebook').output.result.exitValue).numSourceRows)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set numTargetRowsUpdated",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Level 1 Transform Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "variableName": "numTargetRowsUpdated",
          "value": {
            "value": "@string(json(activity('Level 1 Transform Notebook').output.result.exitValue).numTargetRowsUpdated)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Level 1 Transform FAILURE",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "Level 1 Transform Notebook",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "storedProcedureName": "[ELT].[UpdateTransformInstance_L1]",
          "database": "controlDB",
          "storedProcedureParameters": {
            "L1TransformADFPipelineRunID": {
              "value": {
                "value": "@variables('RunID')",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "L1TransformInstanceId": {
              "value": {
                "value": "@pipeline().parameters.L1TransformInstanceID",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "L1TransformStatus": {
              "value": "Failure",
              "type": "String"
            },
            "MaxRetries": {
              "value": {
                "value": "@pipeline().parameters.MaxRetries",
                "type": "Expression"
              },
              "type": "Int32"
            }
          }
        },
        "linkedService": {
          "name": "b64e4447_736b_4c9e_8ea3_bbd8b7454f55",
          "properties": {
            "annotations": [],
            "type": "DataWarehouse",
            "typeProperties": {
              "endpoint": "@pipeline().parameters.WH_Conrol_Conn_String",
              "artifactId": "@pipeline().parameters.WH_Conrol_Name",
              "workspaceId": "@pipeline().parameters.BronzeWorkspaceID"
            }
          }
        }
      },
      {
        "name": "Set numTargetRowsDeleted",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Level 1 Transform Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "variableName": "numTargetRowsDeleted",
          "value": {
            "value": "@string(json(activity('Level 1 Transform Notebook').output.result.exitValue).numTargetRowsDeleted)",
            "type": "Expression"
          }
        }
      }
    ],
    "parameters": {
      "L1TransformInstanceID": {
        "type": "int",
        "defaultValue": 3
      },
      "L1TransformID": {
        "type": "int",
        "defaultValue": 1
      },
      "IngestID": {
        "type": "int",
        "defaultValue": 1
      },
      "ComputeName": {
        "type": "string",
        "defaultValue": "15e4bf1e-4206-4759-9fca-64177a514b4d"
      },
      "ComputePath": {
        "type": "string"
      },
      "CustomParameters": {
        "type": "string"
      },
      "InputRawFileSystem": {
        "type": "string",
        "defaultValue": "Files"
      },
      "InputRawFileFolder": {
        "type": "string",
        "defaultValue": "raw_bronze/wwi/dbo/Customers/2025-03"
      },
      "InputRawFile": {
        "type": "string",
        "defaultValue": "dbo_Customers_2025-03-06_175033.parquet"
      },
      "InputRawFileDelimiter": {
        "type": "string"
      },
      "InputFileHeaderFlag": {
        "type": "bool",
        "defaultValue": false
      },
      "OutputL1CurateFileSystem": {
        "type": "string"
      },
      "OutputL1CuratedFolder": {
        "type": "string"
      },
      "OutputL1CuratedFile": {
        "type": "string"
      },
      "OutputL1CuratedFileDelimiter": {
        "type": "string"
      },
      "OutputL1CuratedFileFormat": {
        "type": "string"
      },
      "OutputL1CuratedFileWriteMode": {
        "type": "string"
      },
      "OutputDWStagingTable": {
        "type": "string"
      },
      "LookupColumns": {
        "type": "string",
        "defaultValue": "CustomerID"
      },
      "OutputDWTable": {
        "type": "string",
        "defaultValue": "Customers"
      },
      "OutputDWTableWriteMode": {
        "type": "string",
        "defaultValue": "append"
      },
      "ReRunL1TransformFlag": {
        "type": "bool",
        "defaultValue": false
      },
      "MaxRetries": {
        "type": "int",
        "defaultValue": 3
      },
      "WatermarkColName": {
        "type": "string"
      },
      "BronzeWorkspaceID": {
        "type": "string",
        "defaultValue": "70b290e3-7bb3-4c05-8fb7-ea00e7608f25"
      },
      "WH_Conrol_Name": {
        "type": "string",
        "defaultValue": "WH_Control"
      },
      "WH_Conrol_Conn_String": {
        "type": "string",
        "defaultValue": "32ebfjmbw6zuhftgkc2b6qekfm-4oile4ftpmcuzd5x5iaooyepeu.datawarehouse.fabric.microsoft.com"
      }
    },
    "variables": {
      "RunID": {
        "type": "String"
      },
      "numSourceRows": {
        "type": "String",
        "defaultValue": "0"
      },
      "numTargetRowsInserted": {
        "type": "String",
        "defaultValue": "0"
      },
      "numTargetRowsUpdated": {
        "type": "String",
        "defaultValue": "0"
      },
      "numTargetRowsDeleted": {
        "type": "String",
        "defaultValue": "0"
      }
    }
  }
}