Fabric_Workspace/Master Level1 Trans.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderStoredProcedureName": "[ELT].[GetTransformInstance_L1]",
            "storedProcedureParameters": {
              "DelayL1TransformationFlag": {
                "type": "Int32",
                "value": {
                  "value": "@pipeline().parameters.DelayL1TransformationFlag",
                  "type": "Expression"
                }
              },
              "MaxTransformInstance": {
                "type": "Int32",
                "value": {
                  "value": "@pipeline().parameters.MaxTransformInstance",
                  "type": "Expression"
                }
              },
              "SourceSystemName": {
                "type": "String",
                "value": {
                  "value": "@pipeline().parameters.SourceSystemName",
                  "type": "Expression"
                }
              },
              "StreamName": {
                "type": "String",
                "value": {
                  "value": "@pipeline().parameters.StreamName",
                  "type": "Expression"
                }
              }
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "WH_Control",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "4937c3cc-bd8a-466d-97e9-8cb2ee745b36",
                  "endpoint": "32ebfjmbw6zuhftgkc2b6qekfm-bgoon2webxcu5alqfxtuqp6lpu.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "eae69c09-0dc4-4ec5-8170-2de7483fcb7d"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Level1 Transform Instances",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Get Level1 Transform Instances').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "ExecutePipeline",
              "typeProperties": {
                "pipeline": {
                  "referenceName": "50495812-e198-98de-42d9-eea9416c4c6b",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "L1TransformInstanceID": {
                    "value": "@item().L1TransformInstanceID",
                    "type": "Expression"
                  },
                  "L1TransformID": {
                    "value": "@item().L1TransformID",
                    "type": "Expression"
                  },
                  "IngestID": {
                    "value": "@item().IngestID",
                    "type": "Expression"
                  },
                  "ComputeName": {
                    "value": "@item().ComputeName",
                    "type": "Expression"
                  },
                  "ComputePath": {
                    "value": "@item().ComputePath",
                    "type": "Expression"
                  },
                  "CustomParameters": {
                    "value": "@item().CustomParameters",
                    "type": "Expression"
                  },
                  "InputRawFileSystem": {
                    "value": "@item().InputRawFileSystem",
                    "type": "Expression"
                  },
                  "InputRawFileFolder": {
                    "value": "@item().InputRawFileFolder",
                    "type": "Expression"
                  },
                  "InputRawFile": {
                    "value": "@item().InputRawFile",
                    "type": "Expression"
                  },
                  "InputRawFileDelimiter": {
                    "value": "@item().InputRawFileDelimiter",
                    "type": "Expression"
                  },
                  "InputFileHeaderFlag": {
                    "value": "@item().InputFileHeaderFlag",
                    "type": "Expression"
                  },
                  "OutputL1CurateFileSystem": {
                    "value": "@item().OutputL1CurateFileSystem",
                    "type": "Expression"
                  },
                  "OutputL1CuratedFolder": {
                    "value": "@item().OutputL1CuratedFolder",
                    "type": "Expression"
                  },
                  "OutputL1CuratedFile": {
                    "value": "@item().OutputL1CuratedFile",
                    "type": "Expression"
                  },
                  "OutputL1CuratedFileDelimiter": {
                    "value": "@item().OutputL1CuratedFileDelimiter",
                    "type": "Expression"
                  },
                  "OutputL1CuratedFileFormat": {
                    "value": "@item().OutputL1CuratedFileFormat",
                    "type": "Expression"
                  },
                  "OutputL1CuratedFileWriteMode": {
                    "value": "@item().OutputL1CuratedFileWriteMode",
                    "type": "Expression"
                  },
                  "OutputDWStagingTable": {
                    "value": "@item().OutputDWStagingTable",
                    "type": "Expression"
                  },
                  "LookupColumns": {
                    "value": "@item().LookupColumns",
                    "type": "Expression"
                  },
                  "OutputDWTable": {
                    "value": "@item().OutputDWTable",
                    "type": "Expression"
                  },
                  "OutputDWTableWriteMode": {
                    "value": "@item().OutputDWTableWriteMode",
                    "type": "Expression"
                  },
                  "ReRunL1TransformFlag": {
                    "value": "@item().ReRunL1TransformFlag",
                    "type": "Expression"
                  },
                  "MaxRetries": {
                    "value": "@item().MaxRetries",
                    "type": "Expression"
                  },
                  "WatermarkColName": {
                    "value": "@item().WatermarkColName",
                    "type": "Expression"
                  },
                  "BronzeWorkspaceID": "@pipeline().parameters.BronzeWorkspaceID"
                },
                "waitOnCompletion": true
              },
              "policy": {
                "secureInput": false
              },
              "name": "Level 1 Transform",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach Level 1 Transform Instance",
        "dependsOn": [
          {
            "activity": "Get Level1 Transform Instances",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "SourceSystemName": {
        "type": "string",
        "defaultValue": "WWI"
      },
      "StreamName": {
        "type": "string"
      },
      "MaxTransformInstance": {
        "type": "int",
        "defaultValue": 100
      },
      "DelayL1TransformationFlag": {
        "type": "int",
        "defaultValue": 0
      },
      "BronzeWorkspaceID": {
        "type": "string"
      }
    }
  }
}